.category{
  float: left;
  width: 10%;
  height:65px;
  border:0px;
  padding: 0px 5px;
  box-sizing: border-box;
}
.new-todo{
  padding:16px !important;
  width: 90% !important;
}
.itemCategory{
  position: absolute;
  top :5px;
  right:50px;
  float: right;
  font-size: 10pt;
}
.categoryFilter{
  color: inherit;
	margin: 3px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}